@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: rgb(171, 167, 167);
}

a {
  color: rgb(17, 93, 119);
}

@media (prefers-color-scheme: dark) {
  body {
    color: black;
    background: rgb(87, 87, 87);
  }

  a {
    color: rgb(17, 93, 119);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.neon-text {
  @apply text-white text-6xl animate-neon;
}
