@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background: white;
}

a {
  color: rgb(17, 93, 119);
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: black;
  }

  a {
    color: rgb(17, 93, 119);
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
